@page "/"
@inject INotificationService _notice

<PageTitle>巨明生醫 CanWellBeing</PageTitle>

@layout EmptyLayout

<div style="
        min-height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;">
    <LaunchView ShowMode="false" />
</div>

@* <button @onclick="@(async ()=>await Test())">Test</button> *@

@* <div style="
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-image: url('/images/splash.png');
    background-size: 100% 100%;   /* 水平 100%，垂直 100%，會依視窗強制拉伸 */
    background-position: center;
    background-repeat: no-repeat;">

    <div style="
        min-height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 2rem;">
        <LaunchView ShowMode="false" />
    </div>
</div> *@

@code {
    private async Task Test()
    {
        await _notice.Open(new NotificationConfig()
        {
            Message = "Notification Title",
            Description = "This is the content of the notification. This is the content of the notification. This is the content of the notification.",
            NotificationType = NotificationType.Info,
        });
    }
}