<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="C:/temp/logs/SmartAgentApi-internal-nlog.log">
	<!-- 日志级别：Trace < Debug < Info < Warn < Error < Fatal -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!-- 文件输出目标 -->
		<target xsi:type="AsyncWrapper" name="File_async"
                overflowAction="Discard"
				queueLimit="10000"
				batchSize="1"
				timeToSleepBetweenBatches="50"
				optimizeBufferReuse="true"
				fullBatchSizeWriteLimit="5"
				>
			<target name="file" xsi:type="File" fileName="C:/temp/logs/SmartAgentApi-logfile-${shortdate}.log"
					layout="${longdate}|${aspnet-TraceIdentifier}|${level:uppercase=true}|${threadid}|${logger}|${message}|${exception:format=toString,StackTrace:maxInnerExceptionLevel=5}"
					keepFileOpen="true"
					concurrentWrites="false"
					openFileCacheTimeout="30"
					enableFileDelete="true"
					autoFlush="false"
					bufferSize="32768"
                    archiveDateFormat="yyyy-MM-dd"
                    archiveNumbering="Date"
                    encoding="utf-8"
                    archiveEvery="Day"
					maxArchiveDays="30"
					archiveAboveSize="104857600"
					enableArchiveFileCompression="true"/>
		</target>
		<!-- 控制台输出目标 -->
		<target xsi:type="AsyncWrapper" name="Console_async"
		overflowAction="Discard"
		queueLimit="500000"
		batchSize="500">
			<target name="console" xsi:type="Console"
				layout="${longdate}|${mdlc:TraceId}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=toString,StackTrace}" />
		</target>
	</targets>

	<rules>
		<!-- Suppress output from Microsoft framework when non-critical -->
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<!-- Keep output from Microsoft.Hosting.Lifetime to console for fast startup detection -->
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" writeTo="console_async" />
		<!-- 最低级别为 Info，输出到文件和控制台 -->
		<logger name="*" minlevel="Info" writeTo="file_async,console_async" />
	</rules>
</nlog>
