<div>
    @if (ShowMode == true)
    {
@*         <h3>取得 OAuth2 授權</h3>

        <div>處理狀態訊息</div>
 *@
        <div class="alert alert-info m-2 text-break">@ProcessingMessage</div>
    }
    else
    {
        <div class="m-4">@ProcessingMessage</div>
    }
</div>


<!-- 背景浮水印 - 成大醫院 SVG -->
<div class="watermark">
    <img src="img/ncku.png" alt="成大醫院">
</div>

<!-- 主要內容 -->
<div class="main-content">
    <!-- 醫院 Logo SVG -->
    <div class="hospital-logo">
        <img src="img/ncku_logo.svg" alt="成大醫院 Logo">
    </div>

    <!-- 標題 -->
    <div class="title-section">
        <h1 class="main-title">身體組成AI分析</h1>
        <p class="subtitle">Body Composition Analysis</p>
    </div>
</div>

<!-- 公司 Logo -->
<div class="company-section">
    <img src="img/exentric.png" alt="eXentric 耀瑄科技">
</div>


