@* <div>
    @if (ShowMode == true)
    {
        <h3>取得 OAuth2 授權</h3>

        <div>處理狀態訊息</div>

        <div class="alert alert-info m-2 text-break">@ProcessingMessage</div>
    }
    else
    {
        <div class="m-4">@ProcessingMessage</div>
    }
</div>
 *@

@* <div class="top-left-logo">
    <img src="img/jm_logo.png" alt="巨明生醫 Logo" />
</div> *@

@* <div class="main-content">
    <div class="hospital-logo">
        <img src="img/canwellbeing.png"  alt="巨明生醫" />
    </div>
</div> *@

<div>
    <!-- 醫院機構標頭（頂部置中） -->
    <div class="hospital-header">
        <img src="img/nckuh-V7.png" alt="國立成功大學醫學院附設醫院 NCKUH"/>
    </div>

    <div class="main-content">
        <!-- 醫院 Logo SVG -->
        <div class="hospital-logo">
            <img src="img/jm_logo.png" alt="成大醫院 Logo">
        </div>

        <!-- 標題 -->
        <div class="title-section">
            <img src="img/canwellbeing1.png" alt="巨明生醫" />
        </div>
    </div>

    @* <div class="loading-floating">
        <lottie-player class="loading-animation"
                       src="images/loading.json"
                       background="transparent"
                       speed="1"
                       style="width:300px;height:300px"
                       loop
                       autoplay>
        </lottie-player>
    </div> *@
</div>

<div class="company-section">
    <img src="img/exentric.png" alt="eXentric 耀瑄科技">
</div>


